.cache-stats--main-root {
  padding: 0 20px;
  box-sizing: border-box;
  border-bottom: 2px solid black;
  display: flex;
  flex-direction: column;
}

.cache-stats--row {
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed black;
}

.cache-stats--row:last-child {
  border-bottom: 0;
}

.stats--row--label {
  font-size: 18px;
}

.stats--row--data {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bolder;
}