.cache-tree--main-root {
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.node {
  fill: whitesmoke;
  stroke: black;
}

.block-node {
  fill: lightcyan;
}

/* This is the lru block */
.lru-block-node {
  fill: lightblue;
}

/* stale edges */
/* .edge {
} */

/* hidden eddges */
.hide-edge {
  stroke-dasharray: 5;
  /* animation: animate-line 5s linear infinite, hide-edge 0.5s ease-in; */
  opacity: 0;
}

/* edges that lead to lru block */
.animate-edge {
  stroke-dasharray: 5;
  animation: edge-animation 0.5s ease-in, animate-line 5s linear infinite;
}

@keyframes animate-line {
  to {
    stroke-dashoffset: -100;
  }
}

@keyframes edge-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide-edge {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
