.cache-tree--main-root {
  width: 70vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.node {
  fill: #bda48f !important;
  stroke: black !important;
}

.block-node {
  fill: #77685D !important;
}

/* This is the lru block */
.lru-block-node {
  fill: #483D3F !important;
}

/* stale edges */
.edge {
  stroke: #A39A92;
}

/* hidden eddges */
.hide-edge {
  opacity: 0;
}

/* edges that lead to lru block */
.animate-edge {
  stroke-dasharray: 5;
  animation: edge-animation 0.5s ease-in, animate-line 5s linear infinite;
  stroke: #A39A92;
  stroke-width: 2px;
}

@keyframes animate-line {
  to {
    stroke-dashoffset: -100;
  }
}

@keyframes edge-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hide-edge {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
