.request-form--main-root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.request-form--form {
  display: flex;
  height: 45px;
}

.request-form--form input {
  width: 195px;
  margin-right: 20px;
  border: 1px solid #483D3F;
  background: #bda48f7a;
  border-radius: 5px;
  padding-left: 5px;
  font-size: 16px;
  color: #483D3F;
}

.request-form--form button {
  width: 100px;
  border-radius: 5px;
  border: 1px solid #483D3F;
  background: #bda48f7a;
  font-size: 16px;
  color: #483D3F;
}
