.controls--main-root {
  height: 120px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
  border-bottom: solid 2px #483d3f;
}

.controls--clear-cache-button {
  height: 40px;
  width: 70px;
  font-size: 16px;
  margin-bottom: auto;
  border: 1px solid #483d3f;
  background: #bda48f7a;
  color: #483d3f;
  border-radius: 5px;
}
