.map-table--main-root {
  max-height: calc(100% - 250px);
  overflow-y: scroll;
}

.map-table--main-root::-webkit-scrollbar {
  display: none;
}

.table-row--main-root {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: dashed 1px #483D3F;
}

.table-row--main-root.header {
  border-bottom: 1px #483D3F solid;
}

.table-row--main-root:last-child {
  border-bottom: 0;
}

.table-row--column--separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-row--column {
  height: 35px;
  border: 1px solid #483D3F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-row--column.key {
  width: 30%;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}

.table-row--column--key-text {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.table-row--column.value {
  width: 62%;
}

.value-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value-text.path {
  width: 75%;
}

.value-text.data {
  width: 25%;
  border-left: 1px #483D3F solid;
}
