.map-table--main-root {
  max-height: calc(100% - 250px);
  overflow-y: scroll;
}

.map-table--main-root::-webkit-scrollbar {
  display: none;
}

.table-row--main-root {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: dashed 1px black;
}

.table-row--main-root.header {
  border-bottom: 1px black solid;
}

.table-row--main-root:last-child {
  border-bottom: 0;
}

.table-row--column--separator {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table-row--column {
  height: 35px;
  font-size: 14px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-row--column.key {
  width: 35%;
}

.table-row--column.value {
  width: 55%;
}

.value-text {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value-text.path {
  width: 75%;
}

.value-text.data {
  width: 25%;
  border-left: 1px black solid;
}
