.canvas-controller--main-root {
  position: absolute;
  top: 125px;
  left: 5px;
  width: 130px;
  height: 90px;
  background: #bda48f7a;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  border: 1px solid #483D3F;
  border-radius: 5px;
}

.canvas-controller--fit-button {
  width: 90%;
  height: 25px;
  border: 1px solid #483D3F;
  color: #483D3F;
  border-radius: 5px;
  background: #bda48f7a;
}

.canvas-controller--zoom-controllers {
  width: 90%;
  padding-right: 5px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zoom-controller--button {
  width: 25px;
  height: 25px;
  border: 1px solid #483D3F;
  color: #483D3F;
  border-radius: 5px;
  background: #bda48f7a;
}